
* { padding: 0; margin: 0; }

html, body {
  margin: 0;
  font-family: Inconsolata, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    background-color: '#000';
    width: '100%';
    height: '100%';
    overflow: 'hidden';
}
